html, body {
  height: 100%;
  max-height: 100%;
}

body {
  display: flex !important;
  flex-direction: column;
}

#main {
  flex: auto;
  overflow: hidden; // required that the chat window will not expand out off screen

  .container, .row, .col {
    height: 100%;
    max-height: 100%;
  }
}

@media (min-width: 576px)
{
  #main  {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
